main {
    background-image: url(./assets/background-visitus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    padding-bottom: 100px;
  }

  
 .form-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
}



  /* CONTACT FORM */

  .form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 605px;
    height: auto;
    background-color: #00449C;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .h2-form {
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 25px;
  }

  label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
  }
  
  input[type="text"],
  textarea, select {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.938rem;
    font-weight: 500;
    background-color: #9EDFFE;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  ::placeholder {
    color: #1F1F1F;
  }

  .names {
    display: flex;
    gap: 8px;
  }
  
  input[type="submit"] {
    display: flex;
    justify-content: center;
    background-color: #00449c;
    border: 2px solid #9edffe;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    border-radius: 50px;
    color: #9edffe;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    width: 155px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  input[type="submit"]:hover {
    background-color: #FF42D4;
    color:#00449C;
  }

  .hidden{
    display: none;
  }
/* -------*/

.text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    gap: 70px 60px;
    padding: 40px;
    margin-top: 30px;
}

.textbox-visitus {
    width: 425px;
}

.p-visitus, .textbox-visitus li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.563rem;
    padding-bottom: 15px;
    list-style: none;
}

.textbox-visitus.icons-visitus ul li {
    display: flex;
    align-items: center;
}

.textbox-visitus.icons-visitus ul li img {
    margin-right: 8px;
}
