main {
    background-image: url(./assets/backgroundexhibitions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
  }

  .exhibition-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .exhibition-column1 {
    display: flex;
    flex-direction: column;
  }

  .ex-card {
    display: flex;
    flex-direction: column;
    padding: 100px;
  }

  .p-small-ex {
    width: 566px;
    font-size: 1.25rem;
    padding: 15px 0;
  }

  
  