@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* HEADER */
.section2-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.txt-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00449c;
  width: 1138px;
  padding: 30px;
}

.h1-textbox {
  font-family: "Bungee", sans-serif;
  font-size: 6.25rem;
  color: #9edffe;
  margin: 0;
}

.p-textbox {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.188rem;
  color: #fff;
  width: 1040px;
  text-align: center;
  margin: 0;
}

.btn-explore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.explore {
  background-color: #00449c;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3.125rem;
  width: 294px;
  cursor: pointer;
}

/*MAIN*/
main {
  background-image: url(./assets/indexbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 4119px;
}

.section-index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 35px;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-index1 {
  width: 561px;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.p-index1 {
  text-align: right;
  width: 580px;
  margin: 0;
  font-size: 1.563rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.p-index2 {
  text-align: left;
  width: 580px;
  margin: 0;
  padding-bottom: 15px;
  font-size: 1.563rem;
}

.h1-headline {
  text-align: center;
  padding: 25px;
}

/* H1 CARDS */

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card1-wrapper,
.card2-wrapper,
.card3-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.img-cards {
  border-radius: 25px;
}

.card1-btn,
.card2-btn,
.card3-btn {
  width: 445px;
  background-color: #00449c;
  border-radius: 0 0 25px 25px;
  margin-top: -67px;
}

.h1-card {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#check,
#check2,
#check3 {
  display: none;
}

#check:checked ~ .content1 {
  display: block;
}

#check2:checked ~ .content2 {
  display: block;
}

#check3:checked ~ .content3 {
  display: block;
}

.content1,
.content2,
.content3 {
  display: none;
}

.label1,
.label2,
.label3 {
  cursor: pointer;
}

.p-cards {
  color: #fff;
  font-size: 1.125rem;
  padding: 18px;
}

.p-link {
  color: #fff;
  font-size: 1.125rem;
}

.x {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/*-----*/
.h2-index {
  color: #00449c;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.55rem;
  text-align: center;
  width: 450px;
  height: auto;
  padding: 8px;
}

.p-small {
  text-align: center;
  width: 448px;
  font-size: 1.313rem;
}

.exhibition-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: relative;
}

.img-space {
  border-radius: 25px;
}

.exhibition-btn {
  background-color: #00449c;
  border: 1px solid #9edffe;
  font-family: "Bungee", sans-serif;
  border-radius: 25px;
  color: #9edffe;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3.125rem;
  width: 485px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* MEDIA QUERIES */
/* mobile to small tablet */
@media screen and (min-width: 300px) and (max-width: 600px) {
}

/* tablet and small laptops */
@media screen and (min-width: 601px) and (max-width: 900px) {
}

/* laptop to larger desktops */
@media screen and (min-width: 901px) and (max-width: 1300px) {
}

/* larger monitors */
@media screen and (min-width: 1301px) {
}
